---
import Layout from "../layouts/Layout.astro";
import NovaHero from "../components/NovaCloud/NovaHero.astro";
import NovaSoluciones from "../components/NovaCloud/NovaSoluciones.astro";
import NovaFilosofia from "../components/NovaCloud/NovaFilosofia.astro";
import NovaOnboarding from "../components/NovaCloud/NovaOnboarding.astro";
---

<Layout title="Nova Cloud: Tu Motor de Crecimiento | Fábrica Premium">
  <main class="bg-[#050810] text-gray-100 min-h-screen font-sans selection:bg-[#00C2FF] selection:text-[#050810]">
    <NovaHero />
    <NovaSoluciones />
    <NovaFilosofia />
    <NovaOnboarding />
  </main>
</Layout>
